@font-face {
  font-family: "Sehaj";
  src: url('All Fonts/Sehaj-ENG-Bold.otf');
}
h4{
	color:#C529A3 !important;
	font-family: "Sehaj";
	letter-spacing:1px;
}
.let{
	color:#0166B3;
}

body{
	margin:0px;
	padding:20px;
	font-family: "Sehaj" !important;
	background-image: url('img/b1.png');
}
.hidden{
	display:none;
}
#submit, #reset, #sol{
	cursor:pointer;
}
.numb{
	color:white;
	border-radius:20px;
	width:80px;
	height:80px;
	text-align:center;
	font-size:45px;
	padding-top:10px;
	padding:10px;
}
.numb1{
	background:#FBBB85;
}
.numb2{
	background:#B6D884;
}
.numb3{
	background:#F5ADCE;
}
.numb4{
	background:#6BCFF6;
}
.numb5{
	background:#F6977A;
}
.numb6{
	background:#FED54D;
}

.clear{
	margin-top:20px !important;
}
.canvas{
	cursor: url(img/pen.png), auto;
	margin-top:15px;
}
.speaker{
	width:30px; 
	height:30px; 
	margin-right:10px;
	margin-left:10px;
	cursor:pointer;
}
.ques_image{
	width:100%;
}
.mains{
	border-radius:50px;
	border: 5px dashed #F171AB;
	background:#fff;
	padding:20px;
}
.tools{
	display:flex;
	justify-content: center;
	flex-direction: row;
	margin-top: 15px;
}

.tools .color-field{
	height:40px;
	width:40px;
	min-height:40px;
	min-width:40px;
	cursor:pointer;
	display:inline-block;
	box-sizing: border-box;
	border-radius:50%;
	border: 2px solid white;
	align-self: center;
	
}
.button{
	align-self: center;
	width: 100px;
	height: 40px;
	border: 2px solid white;
	cursor:pointer;
	color:white;
	background:#222;
	font-weight:bold;
	margin: 0 10px;
}

.color-picker{
	align-self:center;
	margin: 0 10px;
	height: 50px;
}

.pen-range{
	align-self:center;
	margin: 0 10px;
	height: 50px;
}